<h1>See all Items</h1>


    <h3>Total: <%=@items.count%></h3>

<ul>

<% @items.each do |item|%>
    <li>

    <%= link_to  item.name, "/items/#{item.id}" %>
    <img src=<%=item.image%> alt=<%=item.name%> />
    <%= button_to "Add to wishlist", "/wishlistItems/add/#{item.id}", method: "post" %>

    </li>
<%end%>

</ul>
